on:
  schedule:
    - cron: '23,33,43,53 22,4,10,16,7 * * *'
jobs:
  build:
  
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install nmap 
        run: |
          sudo apt install nmap -y
      - name: Install dependencies
        run: |
          sudo python -m pip install requests
          sudo python -m pip install python-nmap
