on:
  workflow_dispatch:

jobs:
  build:
  
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install libpcap-dev
        run: |
          sudo apt-get install libpcap-dev -y
      - name: build ksubdomain
        run: |
          curl -JLO https://github.com/lijiejie/subDomainsBrute/archive/refs/tags/v1.4.zip
          unzip subDomainsBrute-1.4.zip
          sudo python -m pip install dnspython==2.2.1 async_timeout
          sudo python subDomainsBrute.py wfjt.com -w -t 2000 -p 10
      - name: install nmap 
        run: |
          sudo apt install nmap -y
      - name: Install dependencies
        run: |
          sudo python -m pip install requests
          sudo python -m pip install python-nmap
